html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  
  .call-to-action-btn {
    background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
    font-weight: 700;
    font-size: 16px;
    color: black;
    height: 60px;
    width: 260px;
  }
  
  
  .page-title {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: cornsilk;
  }
  
  
  .page-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    color:cornsilk;
  }
  
  
  .feature-text {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    color: rgb(255, 181, 72);
    letter-spacing: 2px;
  }
  
  
  .child-text {
    font-size: 18px;
    margin-bottom: 5px;
    color: cornsilk;
  }
  
  
  .navigation-text {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: cornsilk;
    text-transform: uppercase;
  }

  
  #awal {
    height: 1000px;
    width: 100%;
    background:radial-gradient(
        189.96% 61.18% at 50% 38.82%,
        rgba(255, 181, 72, 0) 0%,
        rgba(52, 44, 29, 0.80319) 73.22%,
        #08090a 99.74%
      ),
   url("../images/main-bg.jpg");
    background-size: cover;
  }
  
  #awal .content {
    font-family: "Arial", sans-serif;
    margin-top: 25vh;
  }
  
  
  #awal .navbar {
    background: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  #awal .navbar .navbar-brand {
    margin-left: 5vw;
    margin-right: 10vw;
  }
  
  #awal .navbar .navigation li {
    margin-left: 2vw;
  }
  
  #awal .navbar .auth {
    margin-right: 10vw;
    margin-left: 2vw;
  }
  
  
  #awal h1 {
    font-weight: 700;
    font-size: 72px;
    letter-spacing: 3px;
  }
  
  #awal h3 {
    font-size: 24px;
    letter-spacing: 2px;
    margin-top: 3vh;
    margin-bottom: 6vh;
  }
  
  
  #awal .next-page {
    margin-top: 300px;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
  }
  
  #awal a {
    text-decoration: none;
    color: cornsilk;
    
  }
  
  #galeri {
    height: 1050px;
    background: radial-gradient(
        136.03% 54.57% at 50% 48.04%,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0) 60.63%,
        #080a0b 99.74%
      ),
      url("../images/the-games-bg.jpg");
    background-size: cover;
  }
  
  #galeri .content {
    margin-top: 30vh;
  }
  
  
  #galeri .content-text h1 {
    margin-left: 180px;
  }
  
  #galeri .content-text h3 {
    margin-left: 180px;
  }
  
  
  #galeri .carousel {
    margin-left: 80px;
    max-width: 870px;
  }
  
  #galeri .carousel-control-prev {
    margin-left: -85px;
  }
  
  #galeri .carousel-control-next {
    margin-right: -85px;
  }
  
  #galeri .carousel-indicators li {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-left: 1em;
    margin-right: 1em;
  }
  
  #fitur-game {
    height: 870px;
    background: radial-gradient(
        51.1% 80.48% at 30.85% 53.65%,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0) 19.2%,
        rgba(4, 5, 6, 0.520671) 47.48%,
        #080a0b 99.74%
      ),
      url("../images/features.jpg");
    background-size: cover;
  }
  
  #fitur-game .content {
    margin-top: 25vh;
  }
  
  
  #fitur-game .content .list {
    margin-top: 80px;
  }
  
  #fitur-game .progress-bar p {
    margin-left: 60px;
    margin-top: -8px;
  }
  
  #fitur-game ul.progress-bar {
    margin-left: 10px;
    margin-top: 90px;
    height: 300px;
    list-style: none;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background-color: transparent;
  }
  #fitur-game ul.progress-bar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 8px;
    background: transparent;
    width: 4px;
    height: 100vh;
  }
  #fitur-game ul.progress-bar li {
    background: cornsilk;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    z-index: 1;
    position: relative;
  }
  #fitur-game ul.progress-bar li.stop ~ li {
    background: transparent;
    border: 1px solid cornsilk;
  }
  #fitur-game ul.progress-bar li.stop ~ li::after {
    height: 0;
  }
  #fitur-game ul.progress-bar li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 8px;
    background: cornsilk;
    width: 4px;
    height: 100vh;
  }
  
  
  @media only screen and (max-width: 992px) {
    #fitur-game .content {
      margin-top: 0vh;
    }
  
    #fitur-game ul.progress-bar {
      margin-left: 25vw;
    }
  }
  
  
  @media only screen and (max-width: 585px) {
    #fitur-game ul.progress-bar {
      margin-left: 15vw;
    }
  }
  
  #system-requirements {
    height: 960px;
    background: radial-gradient(
        33.26% 45% at 64.32% 47.1%,
        rgba(255, 255, 255, 0) 3.36%,
        rgba(0, 0, 0, 0) 19.22%,
        #080a0b 99.74%
      ),
      url("../images/requirements.png");
    background-size: contain;
    padding-top: 15vh;
    position: relative;
  }
  
  #system-requirements .content .title {
    margin-left: 110px;
  }
  
  #system-requirements .content .spec-table {
    margin-left: 110px;
    margin-top: 100px;
    max-width: 580px;
    width: 60vw;
  }
  
  #system-requirements .spec-table .feature-text {
    margin-bottom: 0px;
  }
  
  #system-requirements .spec-table .col {
    border: 1px solid #979797;
    padding-bottom: 40px;
  }
  
  #system-requirements .floating-text {
    position: absolute;
    top: 10;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-family: "Arial", sans-serif;
    letter-spacing: 2px;
    color: cornsilk;
  }
  
  
  @media only screen and (max-width: 992px) {
    #system-requirements {
      padding-top: 0vh;
    }
    #system-requirements .floating-text {
      display: none;
    }
  
    #system-requirements .content .title {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  #press-quotes {
    height: 960px;
    background: radial-gradient(
        70.52% 37.27% at 24.21% 47.47%,
        rgba(35, 15, 15, 0) 0%,
        rgba(0, 0, 0, 0) 51.1%,
        #080a0b 99.74%
      ),
      rgba(30, 30, 30) url("../images/top-score-bg.png");
    background-size: cover;
  }
  
  
  #press-quotes .main-content {
    margin-top: 200px;
    margin-left: 200px;
  }
  
  
  #press-quotes .card {
    background-color: rgba(255, 255, 255, 0.08);
    color: cornsilk;
    width: 455px;
    position: relative;
    margin-top: 30px;
  }
  
  #press-quotes .card .profile img {
    border-radius: 50%;
    width: 65px;
    height: 65px;
  }
  
  #press-quotes .card .tweet-icon {
    position: absolute;
    left: 90%;
  }
  
  
  @media only screen and (max-width: 1200px) {
    #press-quotes .main-content {
      margin-top: 0px;
      margin-right: auto;
      margin-left: auto;
    }
  
    #press-quotes .card {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  #subscribe-footer {
    height: 960px;
    background: #080a0b;
    position: relative;
  }
  
  #subscribe-footer .content {
    margin-top: 5vh;
  }
  
  
  #subscribe-footer .child-text {
    margin-top: 70px;
  }
  
  
  #subscribe-footer .form-control {
    width: 390px;
    height: 60px;
    padding-bottom: 0px;
    color: rgb(255, 181, 72);
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.08);
    border: none;
    margin-right: 20px;
  }
  
  #subscribe-footer .contact {
    margin-top: 70px;
    position: relative;
  }
  
  #subscribe-footer label {
    position: absolute;
    color: cornsilk;
    left: 12px;
    font-size: 14px;
  }
  
  #subscribe-footer ::placeholder {
    
    color: rgb(255, 181, 72);
    font-size: 18px;
  }
  
  
  #subscribe-footer footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  #subscribe-footer footer a {
    margin-right: 30px;
  }
  
  #subscribe-footer hr {
    border: 0.87px solid cornsilk;
  }
  
  
  @media only screen and (max-width: 992px) {
    #subscribe-footer .form-control {
      margin-right: auto;
      margin-left: auto;
    }
    #subscribe-footer label {
      position: relative;
      left: 0px;
      text-transform: capitalize;
    }
  
    #subscribe-footer .child-text {
      text-align: justify;
    }
  }
  